<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>testIOSSingleView.ipa</key>
	<array>
		<dict>
			<key>architectures</key>
			<array>
				<string>arm64</string>
			</array>
			<key>certificate</key>
			<dict>
				<key>SHA1</key>
				<string>290256A3D22A63B761CDCA5AEC2D2D454F18FF68</string>
				<key>dateExpires</key>
				<string>2021/4/21</string>
				<key>type</key>
				<string>iOS Development</string>
			</dict>
			<key>entitlements</key>
			<dict>
				<key>application-identifier</key>
				<string>UH36P57T5F.tom.com.testIOSSingleView</string>
				<key>com.apple.developer.team-identifier</key>
				<string>UH36P57T5F</string>
				<key>get-task-allow</key>
				<true/>
				<key>keychain-access-groups</key>
				<array>
					<string>UH36P57T5F.tom.com.testIOSSingleView</string>
				</array>
			</dict>
			<key>name</key>
			<string>testIOSSingleView.app</string>
			<key>profile</key>
			<dict>
				<key>UUID</key>
				<string>dbe1d1dc-221f-495e-ab68-45e42131d902</string>
				<key>name</key>
				<string>iOS Team Provisioning Profile: *</string>
			</dict>
			<key>team</key>
			<dict>
				<key>id</key>
				<string>UH36P57T5F</string>
				<key>name</key>
				<string>rongyi lin</string>
			</dict>
		</dict>
	</array>
</dict>
</plist>
